root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  # <!-- TODO: customise app_name to match your cmd/ directory -->
  bin = "./tmp/your-app"
  cmd = "go build -o ./tmp/your-app ./cmd/your-app"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "bin"]
  exclude_regex = ["_test.go"]
  include_ext = ["go", "tpl", "tmpl", "html"]
  kill_delay = "500ms"
  log = "build-errors.log"
  send_interrupt = true
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
